/* NavBar */

nav{
    display: flex; 
    flex-direction: row; 
    background-color: #112D8F; 
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem 0 4rem; 
    height: 5rem;  
}
.nav-link-container {
    display: flex; 
}
.nav-link-title {
    font-weight: bold; 
    text-decoration: none; 
    color: white; 
    margin-left: 1rem;
    margin-right: 1rem; 
    text-align: right; 

}
.nav-link-title:hover{
    opacity: 80%; 
}
.nav-link {
    text-decoration: none; 
    color: white; 
    margin-left: 1rem;
    margin-right: 1rem; 
    text-align: right; 
}
.nav-link:hover {
    opacity: 80%; 
}

.hamburger-menu {
    display: none;
}

.blinking-cursor { 
    width: 2px; 
    height: 10px; 
    background-color: black; 
}
  
@media (max-width: 700px){
    nav {
        position: relative; 
        z-index: 10; 
        align-items:flex-start; 
    }
    .nav-link-container {
        flex-direction: column; 
        background-color: #112D8F;
        padding: 1rem; 
        border-radius: 5px; 
        display: none; 
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer; 
        margin: 1.75rem 1rem 0;   
    }
    .hamburger-menu .bar {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 2.5px 0 2.5px;
        border-radius: 5px; 
        align-self: flex-end; 
    }

    .nav-link {
        align-self: center; 
        margin: 1rem;
    }

    .nav-link-title {
        align-self: center; 
    }
}

/* Footer */ 

.footer {
    height: 4rem; 
    width: 100%; 
    background-color: #112D8F;
    color: white; 
    display: flex; 
    justify-content: center; 
    text-align: center; 
    align-items: center; 
}

/* Home */ 

.hero-container {
    align-items: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    height: 100vh;
    z-index: -100; 
    background-image: url('../assets/layered-waves-bg-0.svg'); 
    background-position: center; 
    background-size: 100% auto;  
    background-repeat: no-repeat; 
    background-blend-mode: screen; 
}

.gradient {
    background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5) 75%, rgba(255, 255, 255, 1) 100%) repeat scroll 0 0;
    position: relative;
    margin-top: -400px;
    height: 400px;
    z-index: 0; 

}

.title { 
    font-weight: bold; 
    font-size: 4rem;
    color: #112D8F;
    width: 90%;
    text-align: center;  
}

.actions-container{
    display: flex; 
    flex-direction: row; 
}

.white-h1{
    color: white; 
    font-size: 1.5rem; 
}

.blue-h1 {
    color: #112D8F;
    font-size: 1.5rem; 
}

.actions-p {
    color: white; 
    margin: 0 1rem 0 1rem; 
}

.action-learn-more {
    background-color: #0A7CE4; 
    width: 16rem; 
    margin: 5rem 1.5rem 2rem 1.5rem; 
    border-radius: 10px; 
    height: 16rem; 
    text-align: center; 
    z-index: 100; 
    font-size: 1.2rem;
    box-shadow: 0 10px #D2E1E5; 
}

.action-learn-more:hover {
    transition: transform 0.5s ease;
    transform: translateY(-5px);
    cursor: pointer; 
}

.action-get-help {
    background-color:#6BB808;
    width: 16rem; 
    margin: 5rem 1.5rem 2rem 1.5rem; 
    border-radius: 10px; 
    height: 16rem; 
    text-align: center; 
    z-index: 100; 
    font-size: 1.2rem;
    box-shadow: 0 10px #D2E1E5; 
}

.action-get-help:hover {
    transition: transform 0.5s ease;
    transform: translateY(-5px);
    cursor: pointer; 
}

.action-give-back {
    background-color: #0CB4BF;
    width: 16rem; 
    margin: 5rem 1.5rem 2rem 1.5rem; 
    border-radius: 10px; 
    height: 16rem; 
    text-align: center;
    z-index: 100;  
    font-size: 1.2rem;
    box-shadow: 0 10px #D2E1E5; 
}

.action-give-back:hover {
    transition: transform 0.5s ease;
    transform: translateY(-5px);
    cursor: pointer; 
}

.scroll-button {
    margin-top: 2rem; 
    background-image: url('../assets/down-arrow.svg'); 
    background-size: cover; 
    background-position: center; 
    width: 3rem;
    height: 2rem; 
    z-index: 100; 
}

.scroll-button:hover {
    transition: transform 0.5s ease;
    transform: translateY(5px);
}

.learn-more-expanded-container {
    display: flex; 
    justify-content: center; 
    background-color: white;  
    width: 100vw; 
}

.get-help-expanded-container{
    display: flex; 
    justify-content: center; 
    background-color: #D2E1E5;  
    width: 100vw; 
}

.give-help-expanded-container{
    display: flex; 
    justify-content: center; 
    background-color: white;  
    width: 100vw;  
}

.column-container{
    display: block; 
    float: left; 
    width: 40%; 
    height: 100%; 
    padding: 2rem; 
}

.homepage-image1{
    background-image: url('../assets/homepage-image1.jpg'); 
    background-size: cover; 
    background-position: center; 
    margin: auto; 
    background-color: lightslategray; 
    width: 80%; 
    height: 30rem;  
    border-radius: 10px; 
}

.homepage-image2{
    background-image: url('../assets/homepage-image2.jpg'); 
    background-size: cover; 
    background-position: center; 
    margin: auto; 
    background-color: lightslategray; 
    width: 80%; 
    height: 30rem;  
    border-radius: 10px; 
}

.homepage-image3{
    background-image: url('../assets/homepage-image3.jpg'); 
    background-size: cover; 
    background-position: center; 
    margin: auto; 
    background-color: lightslategray; 
    width: 80%; 
    height: 30rem;  
    border-radius: 10px; 
}

.learn-more-btn{
    margin: auto;
    width: 20rem;
    background-color: #0A7CE4; 
    color: white; 
    height: 4rem; 
    margin-top: 3rem; 
    border-radius: 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-weight: bold; 
}

.learn-more-btn:hover {
    cursor: pointer; 
    opacity: 80%; 
}

.learn-more-btn:hover .right-arrow {
    transition: transform 0.5s ease;
    transform: translateX(5px);
    cursor: pointer; 
}

.get-help-btn{
    margin: auto;
    width: 20rem; 
    background-color: #6BB808; 
    color: white; 
    height: 4rem; 
    margin-top: 3rem; 
    border-radius: 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-weight: bold; 
}

.get-help-btn:hover {
    cursor: pointer; 
    opacity: 80%; 
}

.get-help-btn:hover .right-arrow {
    transition: transform 0.5s ease;
    transform: translateX(5px);
    cursor: pointer; 
}

.give-help-btn{
    margin: auto; 
    width: 20rem; 
    background-color: #0CB4BF; 
    color: white; 
    height: 4rem; 
    margin-top: 3rem; 
    border-radius: 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-weight: bold; 
}

.give-help-btn:hover {
    cursor: pointer; 
    opacity: 80%; 
}

.give-help-btn:hover .right-arrow {
    transition: transform 0.5s ease;
    transform: translateX(5px);
    cursor: pointer; 
}


@media (max-width: 800px){
    .title {
        width: 90%; 
        font-size: 5rem; 
    }
    .actions-container{
        display: none; 
    }
    .learn-more-expanded-container {
        flex-direction: column-reverse; 
        padding: 2rem 0 2rem 0; 
    }
    
    .get-help-expanded-container{
        flex-direction: column; 
        padding: 2rem 0 2rem 0;
    }
    
    .give-help-expanded-container{
        flex-direction: column-reverse; 
        padding: 2rem 0 2rem 0;
    }
    .column-container{
        align-self: center; 
        width: 80%;  
        height: 100%; 
        padding: 2rem; 
    }
    .homepage-image1{
        height: 20rem; 
        width: 100%; 
        margin-bottom: -1.5rem; 
    }
    .homepage-image2{
        height: 20rem; 
        width: 100%; 
        margin-bottom: -1.5rem; 
    }
    .homepage-image3{
        height: 20rem; 
        width: 100%; 
        margin-bottom: -1.5rem; 
    }
}

/* Generic page templates */

.page-heading-section{
    background-image: url('../assets/stacked-waves-bg-0.svg'); 
    background-size: cover; 
    height: 14rem; 
    width: 100vw;  
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    z-index: -100; 
}

.page-title{
    color: #112D8F; 
    margin-bottom: 0.5rem; 
}

.page-body-no-flex{
    padding-top: 2rem; 
    width: 50rem; 
    margin: auto; 
    margin-bottom: 5rem; 
    min-height: 50vh; 
}

.page-body-flex{
    display: flex; 
    flex-direction: column; 
    padding-top: 2rem; 
    width: 50rem; 
    margin: auto; 
    margin-bottom: 5rem; 
    min-height: 50vh; 
}

.page-image-caption {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin: 1.5rem 0 1.5rem 0; 
}

.page-image-full {
    width: 100%; 
    height: 30rem;
    object-fit: cover; 
    border-radius: 10px; 
    background-color: gray; 
    margin: 0 0 0.5rem 0; 
}

.page-caption {
    text-align: center; 
    color: slategray; 
    font-size: 0.9rem; 
    padding: 0 2rem 0 2rem; 
}

.centered-text {
    text-align: center; 
}

blockquote {
    background: #e8f2f6; 
    border-left: 10px solid #a2c3d2; 
    margin: 1.5em 10px; 
    padding: 0.5em 10px; 
}

li {
    margin-bottom: 10px; 
}

a {
    color: #112D8F; 
}

@media (max-width: 900px){
    .page-body-flex{
        width: 80%; 
    }
    .page-body-no-flex{
        width: 80%; 
    }
}

/* Get Support Page */

.identifier-btn{
    font-size: 1.25rem; 
    margin: auto;
    width: 20rem;
    background-color: #0CB4BF;  
    color: white; 
    height: 4rem; 
    border-radius: 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-weight: bold; 
    margin-bottom: 2rem; 
}

.identifier-btn:hover {
    cursor: pointer; 
    opacity: 80%; 
}

.questionaire-btn{
    font-size: 1.25rem; 
    margin: auto;
    width: 20rem; 
    background-color: #6BB808; 
    color: white; 
    height: 4rem; 
    border-radius: 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-weight: bold; 
}

.questionaire-btn:hover {
    cursor: pointer; 
    opacity: 80%; 
}

.tips-container {
    margin-top: 2rem; 
    width: 100%; 
    padding: 1rem; 
    border-radius: 10px; 
    background-color: #D2E1E5; 
}

/* Questionaire Page */

.questionaire-next-btn { 
    display: flex; 
    background-color: #112D8F; 
    border-style: none; 
    color: white; 
    font-weight: bold; 
    width: 10rem;
    margin: auto; 
    justify-content: center; 
    align-items: center; 
    border-radius: 5px; 
    height: 2rem; 
    margin-top: 2rem; 
}

.questionaire-next-btn:hover{
    cursor: pointer; 
    opacity: 80%; 
}

.questionaire-retake-btn { 
    display: none;
    background-color: transparent; 
    border-style: none; 
    color: #112D8F; 
    font-weight: bold; 
    font-size: 1.25rem; 
    width: 10rem;
    margin: auto; 
    margin-bottom: 2em; 
    justify-content: center; 
    align-items: center; 
    border-radius: 5px; 
    height: 2rem; 
}

.questionaire-retake-btn:hover{
    cursor: pointer; 
    opacity: 80%; 
}

form {
    margin: auto; 
    display: flex; 
    align-items: center; 
    text-align: center; 
} 

.results { 
    display: none; 
    font-size: 1.5rem; 
    font-weight: bold; 
}

.score-meaning-container {
    display: none; 
    text-align: left; 
    background-color: #D2E1E5; 
    border-radius: 5px; 
    width: 20rem; 
    padding: 0.25rem; 
}

/* Identifier Page */

.file-upload-container {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    height: 5em; 
    padding: 1rem; 
    margin: auto; 
    border-radius: 5px; 
}

.file-upload::file-selector-button {
    background-color: #112D8F; 
    border-style: none; 
    padding: 1rem;
    border-radius: 5px; 
    color: white; 
    margin-right: 1rem; 
}

.file-upload::file-selector-button:hover{
    cursor: pointer; 
    opacity: 80%; 
}

.predictions-container {
    margin: auto; 
    width: 100%;  
    display: flex; 
    flex: 1; 
    flex-direction: column;
    align-items: center; 
    background-color: #D2E1E5;
    padding-bottom: 1rem; 
    border-radius: 10px; 
}

.model-info {
    margin-top: 2rem; 
}