/* NavBar */

nav{
    display: flex; 
    flex-direction: row; 
    background-color: #112D8F; 
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem 0 4rem; 
    height: 4rem; 
}
.nav-link-container {
    display: flex; 
}
.nav-link-title {
    font-weight: bold; 
    text-decoration: none; 
    color: white; 
    margin-left: 1rem;
    margin-right: 1rem; 
    text-align: right; 

}
.nav-link-title:hover{
    opacity: 80%; 
}
.nav-link {
    text-decoration: none; 
    color: white; 
    margin-left: 1rem;
    margin-right: 1rem; 
    text-align: right; 
}
.nav-link:hover {
    opacity: 80%; 
}

.hamburger-menu {
    display: none;
}
  
@media (max-width: 700px){
    nav {
        align-items:flex-start; 
    }
    .nav-link-container {
        flex-direction: column; 
        background-color: #112D8F;
        padding: 1rem; 
        border-radius: 5px; 
        display: none; 
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer; 
        margin: 1.5rem 1rem 0;  
    }
    .hamburger-menu .bar {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 0 0 5px;
        border-radius: 5px; 
        align-self: flex-end; 
    }

    .nav-link {
        align-self: center; 
        margin: 1rem;
    }

    .nav-link-title {
        align-self: center; 
    }
}

/* Footer */ 

.footer {
    height: 4rem; 
    width: 100%; 
    background-color: #112D8F;
    color: white; 
    display: flex; 
    justify-content: center; 
    text-align: center; 
    align-items: center; 
}

/* Home */ 

.hero-container {
    align-items: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    background-color: #b3b3b3;
    height: 100vh;
    z-index: -100; 
    background-image: url("https://images.unsplash.com/photo-1584592487914-a29c64f25887?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); 
    background-position: center; 
    background-size: cover; 
    background-blend-mode:screen; 
}

.gradient {
    background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5) 75%, rgba(255, 255, 255, 1) 100%) repeat scroll 0 0;
    position: relative;
    margin-top: -400px;
    height: 400px;
    z-index: 0; 

}

.title {
    font-weight: bold; 
    font-size: 3.5rem;
    color: #112D8F;
    width: 90%;
    text-align: center;  
}

.actions-container{
    display: flex; 
    flex-direction: row; 
}

.white-h1{
    color: white; 
    font-size: 1.5rem; 
}

.blue-h1 {
    color: #112D8F;
    font-size: 1.5rem; 
}

.actions-p {
    color: white; 
    margin: 0 1rem 0 1rem; 
}

.action-learn-more {
    background-color: #0A7CE4; 
    width: 12rem; 
    margin: 5rem 1.5rem 2rem 1.5rem; 
    border-radius: 10px; 
    height: 12rem; 
    text-align: center; 
    z-index: 100; 
}

.action-learn-more:hover {
    opacity: 80%; 
}

.action-get-help {
    background-color:#6BB808;
    width: 12rem; 
    margin: 5rem 1.5rem 2rem 1.5rem; 
    border-radius: 10px; 
    height: 12rem; 
    text-align: center; 
    z-index: 100; 
}

.action-get-help:hover {
    opacity: 80%; 
}

.action-give-back {
    background-color: #0CB4BF;
    width: 12rem; 
    margin: 5rem 1.5rem 2rem 1.5rem; 
    border-radius: 10px; 
    height: 12rem; 
    text-align: center;
    z-index: 100;  
}

.action-give-back:hover {
    opacity: 80%; 
}

.scroll-button {
    margin-top: 2rem; 
    background-image: url('../assets/down-arrow.svg'); 
    background-size: cover; 
    background-position: center; 
    width: 3rem;
    height: 2rem; 
    z-index: 100; 
}

.scroll-button:hover{
    opacity: 80%; 
}

.learn-more-expanded-container {
    display: flex; 
    justify-content: center; 
    background-color: white;  
    width: 100vw; 
}

.get-help-expanded-container{
    display: flex; 
    justify-content: center; 
    background-color: #D2E1E5;  
    width: 100vw; 
}

.give-help-expanded-container{
    display: flex; 
    justify-content: center; 
    background-color: white;  
    width: 100vw;  
}

.column-container{
    display: block; 
    float: left; 
    width: 40%; 
    height: 100%; 
    padding: 2rem; 
}

.homepage-image1{
    background-image: url('../assets/homepage-image1.jpg'); 
    background-size: cover; 
    background-position: center; 
    margin: auto; 
    background-color: lightslategray; 
    width: 80%; 
    height: 30rem;  
    border-radius: 10px; 
}

.homepage-image2{
    background-image: url('../assets/homepage-image2.jpg'); 
    background-size: cover; 
    background-position: center; 
    margin: auto; 
    background-color: lightslategray; 
    width: 80%; 
    height: 30rem;  
    border-radius: 10px; 
}

.homepage-image3{
    background-image: url('../assets/homepage-image3.jpg'); 
    background-size: cover; 
    background-position: center; 
    margin: auto; 
    background-color: lightslategray; 
    width: 80%; 
    height: 30rem;  
    border-radius: 10px; 
}

.learn-more-btn{
    margin: auto;
    width: 20rem;
    background-color: #0A7CE4; 
    color: white; 
    height: 4rem; 
    margin-top: 3rem; 
    border-radius: 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-weight: bold; 
}

.learn-more-btn:hover {
    cursor: pointer; 
    opacity: 80%; 
}

.get-help-btn{
    margin: auto;
    width: 20rem; 
    background-color: #6BB808; 
    color: white; 
    height: 4rem; 
    margin-top: 3rem; 
    border-radius: 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-weight: bold; 
}

.get-help-btn:hover {
    cursor: pointer; 
    opacity: 80%; 
}

.give-help-btn{
    margin: auto; 
    width: 20rem; 
    background-color: #0CB4BF; 
    color: white; 
    height: 4rem; 
    margin-top: 3rem; 
    border-radius: 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-weight: bold; 
}

.give-help-btn:hover {
    cursor: pointer; 
    opacity: 80%; 
}

@media (max-width: 800px){
    .title {
        width: 90%; 
        font-size: 5rem; 
    }
    .actions-container{
        display: none; 
    }
    .learn-more-expanded-container {
        flex-direction: column-reverse; 
        padding: 2rem 0 2rem 0; 
    }
    
    .get-help-expanded-container{
        flex-direction: column; 
        padding: 2rem 0 2rem 0;
    }
    
    .give-help-expanded-container{
        flex-direction: column-reverse; 
        padding: 2rem 0 2rem 0;
    }
    .column-container{
        align-self: center; 
        width: 80%;  
        height: 100%; 
        padding: 2rem; 
    }
    .homepage-image1{
        height: 20rem; 
        width: 100%; 
        margin-bottom: -1.5rem; 
    }
    .homepage-image2{
        height: 20rem; 
        width: 100%; 
        margin-bottom: -1.5rem; 
    }
    .homepage-image3{
        height: 20rem; 
        width: 100%; 
        margin-bottom: -1.5rem; 
    }
}

/* Generic page templates */

.page-heading-section{
    background-color: #D2E1E5; 
    height: 12rem; 
    width: 100vw; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.page-title{
    color: #112D8F; 
    margin-bottom: 0.5rem; 
}

.page-caption{
    color: #112D8F; 
    text-align: center; 
}

.page-body{
    padding-top: 2rem; 
    width: 50rem; 
    margin: auto; 
    display: flex; 
    flex-direction: column; 
}

@media (max-width: 900px){
    .page-body{
        width: 80%; 
    }
}